{% extends 'base.html' %}

{% block content %}
recipedetails_detail.html
    <div class="content">
        <img src="{{ object.photo_1.url}}" alt= "{{object.Dish}}" class="img-fluid">
        <h1 class="article-title">{{ object.Dish }}</h1>
        <img  alt="" class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width: 100px;">
        <h3>Recipe by {{ object.author }} </h3>
        <p>Ingredients: {{ object.ingredients }}</p>
        <p>Instructions: {{ object.instruction }}</p>
        <p>Prep time: {{ object.prep_time }} minutes.</p>
        <p>Cooking time: {{ object.cooking_time }} minutes</p>
        <p>Servings: {{ object.servings }}</p>
        <p>Published on: {{ object.published_date }}</p>
        <p> </p>
    </div>
{% endblock %}